.autogit
*.suo*
*.suo
*.cache*
*.exe
*.orig
*.baml
*.pdb
obj/Debug/
BL/bin/Debug/
BL/obj/Debug/
DAL/bin/Debug/
DAL/obj/Debug/
project2020/bin/Debug/
BL/bin/Debug/DAL.dll
BL/bin/Debug/DAL.pdb
BL/obj/Debug/BL.csprojAssemblyReference.cache
DAL/bin/Debug/DAL.dll
DAL/bin/Debug/DAL.pdb
DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/DAL.csprojAssemblyReference.cache
DAL/obj/Debug/DAL.dll
DAL/obj/Debug/DAL.pdb
project2020/bin/Debug/project2020.exe
project2020/bin/Debug/project2020.pdb
project2020/obj/Debug/Illustration.g.cs
project2020/obj/Debug/Illustration.g.i.cs
project2020/obj/Debug/MainWindow.g.cs
project2020/obj/Debug/MainWindow.g.i.cs
project2020/obj/Debug/Typeselection.g.i.cs
project2020/obj/Debug/newpractice.g.cs
project2020/obj/Debug/newpractice.g.i.cs
project2020/obj/Debug/project2020.csprojAssemblyReference.cache
project2020/obj/Debug/project2020.exe
project2020/obj/Debug/project2020.g.resources
project2020/obj/Debug/project2020.pdb
project2020/obj/Debug/project2020_MarkupCompile.cache
project2020/obj/Debug/project2020_MarkupCompile.i.lref
project2020/obj/Debug/typeselection.g.cs
BBL/bin/Debug/
Main/bin/
Main/obj/Debug/
Main/bin/Debug/
project2020/obj/Debug/
BL/obj/Debug/
project2020/obj/Debug/
BL/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
BL/obj/Release/Interop.EnvDTE.dll
BL/obj/Release/Interop.NETCONLib.dll
BL/obj/Release/Interop.VSLangProj.dll
BL/obj/Release/Interop.VSLangProj2.dll
DAL/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
project2020/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
project2020/obj/Release/App.g.cs
project2020/obj/Release/Illustration.g.cs
project2020/obj/Release/MainWindow.g.cs
project2020/obj/Release/Window1.g.cs
project2020/obj/Release/failmessage.g.cs
project2020/obj/Release/newpractice.g.cs
project2020/obj/Release/project2020_Content.g.cs
project2020/obj/Release/project2020_MarkupCompile.lref
project2020/obj/Release/savedpractice.g.cs
project2020/obj/Release/savepractice.g.cs
project2020/obj/Release/successmessage.g.cs
project2020/obj/Release/typeselection.g.cs